.nav{
    background-color: lightblue;
    padding: 10px 0px;
}

.nav ul{
    display: flex;
    gap: 20px;
}

.nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    letter-spacing: .1em;
    word-spacing: -.4em;
}

.me{
    color: red;
}