.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    max-width: 300px;
    border-radius: 8px;
}

.image{
    max-width: 100%;
    border-radius: 8px;
}